html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #fae8d9;
    user-select: none;
}

img {
    width: 300px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

input {
    font-family: 'Rubik', sans-serif;
    border: none;
    border-radius: 8px;
    color: #643c24;
    background-color: #fae0cd;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    margin: 10px 0px;
}

button {
    font-family: 'Rubik', sans-serif;
    color: #FDFDFD;
    background-color: #643c24;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    border: none;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
    background-color: #755541;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
}

ul li {
    background-color: #fae0cd;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    text-align: center;
    color: #643c24;
}

li:hover {
    background: #cfbdc9;
    cursor: pointer;
}

.nothing {
    color: rgb(150, 135, 165);
    font-size: 20px;
    margin-top: 10px;
}